<html>
	<head>
		
		
		<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
	
	</head>

	<style type="text/css">
		.col-centered{
			float: none;
			margin: 0 auto;
		}
	</style>
	
	<body>
		<div class="container-fluid" >
			
			<div class="row">
				
				<div class="col-sm-12 col-md-5 col-lg-5 col-centered" >
					
					<div class="card"> 
						
						<h2 id="player1" class="card-title text-center">Test</h2>
						
						<form>
							<div class="row">
								<div class="col-sm-12 col-md-12 col-lg-8 col-centered">
									<div class="form-group">
										<label>SSID</label>
										<input  type="text" id="ssid"  class="form-control " >
									</div>
								</div>


								<div class="col-sm-12 col-md-12 col-lg-8 col-centered">
									<div class="form-group" >
										<label>Password</label>
										<input id="password" type="password" class="form-control " >
									</div>
								</div>	
							</div>

							<br>

								
						</form>
						<div class="row">
							<div class="col-sm-12 col-md-12 col-lg-12 col-centered text-center">
								<button class="btn btn-dark button" id="submit" >Submit</button>	
							</div>
						</div>	
					</div>
				</div>
			</div>
		</div>
		<br>
		<br>
		


		
		<script src="../static/js/jquery-2.1.3.min.js"></script>
		<script src="../static/js/popper.min.js"></script>
		<script src="../static/js/jquery-ui.js"></script>
		<script src="../static/js/bootstrap.min.js"></script>
		<!-- <script type="text/javascript" src="{{ url_for('static', filename='js/sweetalert.min.js') }}"></script> -->
		<!-- form_v2.js -->
		<script src="../static/js/test.js"></script>
	</body>
</html>